/* General */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

small {
    font-size: smaller;
}

#Grosor {
    font-weight: bold;
    font-size: medium;
}

/* Lateral */
.boton-lateral {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 11px;
    font-weight: bold;
}

.boton-lateral:hover {
    background-color: #a9bced;
}

/* Menu Desplegable */
.Espacio-Icon {
    margin-right: 5px;
}

.foto {
    text-decoration: none;
    color: black;
}

.accordion-button {
    border-radius: 3px;
    height: 50px;
}

.accordion-button:hover {
    background-color: #b5d1fc;
}

.accordion-body {
    background-color: #ebebeb;
}

.Titulos {
    margin-left: 8px;
    font-size: 14px;
}

/* Layout Sheleton */
#sidebar {
    min-width: 215px;
    transition: all 0.35s ease-in-out;
}

/* Responsive */
@media (min-width: 900px) {
    .bd-links {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto;
    }

    .bd-layout {
        display: grid;
        gap: 1rem; /* Anchura */
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
    }

    .bd-subnavbar {
        position: sticky;
        top: 0;
        z-index: 1050;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    }
}

@media (min-width: 992px) {
    .bd-layout {
        grid-template-columns: 0.1fr 5.5fr;
    }
}

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Barra superior */
.skippy {
    background-color: #224fb1;
}

.skippy a {
    color: #fff;
}

/* Estilos de la barra lateral en móviles */
@media (max-width: 900px) {
    .B-SuBlanca {
        padding: 0px 12px 0px 5px;
    }
}

@media (max-width: 400px) {
    .B-SuBlanca {
        padding: 0;
    }
}

@media (min-width: 600px) {
    .B-SuBlanca {
        padding: 0px 24px 0px 48px;
    }
}

/* Layout */
.bd-layout {
    padding: 10px 20px 0px 20px;
}

@media (max-width: 767px) {
    .accordion {
        padding-bottom: 30px;
    }
}

@media (max-width: 900px) {
    .custom-toggle-btn {
      display: inline-block !important; /* Asegura que se muestre en este tamaño */
    }
  }

@media (min-width: 901px) {
    .custom-toggle-btn {
      display: none !important; /* Oculta el botón en tamaños mayores a 900px */
    }
  }