
.sidebar {
    position: fixed;
}

.content {
    margin-left: 250px;
}

.user-info {
    display: flex;
    align-items: center;
}

small{
    font-size: smaller;
}

button{
    margin: 20;
}

.accordion-button{
    height: 40px;
}

.accordion-button:hover{
    background-color: #a9bced;
}

.accordion-body{
    background-color: #ebebeb;
}

.list-group button{
    font-size: 11px;
    font-weight: bold;
    width: 190px;
    margin-left: 10px; /* izq decha */
    border-color: #ebebeb; /* bordes */
    background-color: #ebebeb;
}
.list-group button:hover{
    background-color: #a8bdec;
}

.Titulos{
    margin-left: 10px;
    font-size: 13px;
}

.subtex{
    margin-left: 5px;
}

#sidebar {
  width: 250px;
  transition: all 0.5s;
}

#barratop{
    background-color: #224fb1;
}

#toggleSidebar{
    background-color: #224fb1;
    color: white;
}

.hidden-sidebar {
  margin-left: -250px;
}

#name{
    font-weight: normal;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: white;
}

#wasa{
    background-color: #224fb1;
}