/* Barra Lateral */

.barra-lateral {
    height: 100vh;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.accordion-button{
    height: 40px;
}

.accordion-body{
    background-color: #ebebeb;
}

.Titulos{
    margin-left: 10px;
    font-size: 13px;
}

.list-group button{
    font-size: 11px;
    font-weight: bold;
    width: 190px;
    margin-left: 10px; /* izq decha */
    border-color: #ebebeb; /* bordes */
    background-color: #ebebeb;
}
.list-group button:hover{
    background-color: #a8bdec;
}

/* Barra Superior */

.barra-superior {
    background-color: #224fb1; /* Color de fondo azul */
    padding: 5px;
  }

  .barra-superior h6 {
    color: white; /* Color del texto blanco */
    margin-left: 5px; /* Espaciado entre el icono y el nombre */
  }

  .barra-superior .btn svg {
    vertical-align: middle; /* Alinear los íconos al centro verticalmente */
  }

  .menu-icon, .options-icon {
    cursor: pointer; /* Cambia el cursor a puntero */
  }

  .menu-name {
    display: flex;
    align-items: center; /* Alinear el ícono y el nombre lateralmente */
  }

    /* Contenido Pagina */
  .content{
    padding: 20px;
  }