h6{
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

td[rowspan] {
    background-color: #d1e7dd; /* Verde claro */
    font-weight: bold;
    color: #0f5132; /* Verde oscuro */
    border: 2px solid #0f5132;
}

@media (max-width:900px){
    th{
        font-size: 11px;
    }
    td{
        font-size: 9px;
    }
}

@media (max-width:350px){
    th{
        padding: 5px;
        font-size: 8px;
    }
    td{
        padding: 5px;
        font-size: 10px;
    }
}