.p-2{
    border-radius: 5px;
}

.text-box {
    background-color: #224fb1; /* Fondo azul */
    padding:  5px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.Indicacion{
    font-size: 13px;
}

.contenedor-sombrado {
    background-color: #f8f9fa; /* Gris claro que combina con blanco */
    border: 1px solid #ddd; /* Borde gris suave */
    color: #333; /* Texto gris oscuro */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra elegante */
    margin: 2px auto; /* Margen superior/inferior y centrado */
    max-width: 600px; /* Ancho máximo */
}

.reloj {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width:1300px){
    .Indicacion{
        font-size: 10px;
    }
    .text-box{
        padding: 5px 10px;
    }
}

@media (max-width:1100px){
    .Indicacion{
        font-size: 9px;
    }
}

@media (max-width:420px){
    .Indicacion{
        font-size: 8px;
    }
    .text-box{
        padding: 3px 3px;
    }
}
